<mat-toolbar color="primary">
  </mat-toolbar>
  
  <div class="content-wrapper">
    <button (click)="addQuestion()" mat-button>
      <mat-icon>add</mat-icon> Add Question
    </button>
  
    <div class="container-wrapper">
      <div class="container">
        <mat-toolbar color="primary">
          <mat-icon>question_mark</mat-icon>
          <span>Question Maker</span>
        </mat-toolbar>
        
        <app-question *ngFor="let question of questionList | async; let i = index" [question]="question" [orderNum]="i+1" (edit)="editQuestion($event)"></app-question>
      </div>
  </div>