<mat-form-field>
    <mat-label>Category</mat-label>
    <input matInput cdkFocusInitial [(ngModel)]="data.question.category" />
  </mat-form-field>
  
  <mat-form-field>
    <mat-label>Question</mat-label>
    <textarea matInput [(ngModel)]="data.question.text"></textarea>
  </mat-form-field>
  
  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="{ question: data.question }">Ok</button>
    <button mat-button (click)="cancel()">Cancel</button>
    <button
    *ngIf="data.enableDelete"
    mat-fab
    color="primary"
    aria-label="Delete"
    [mat-dialog-close]="{ question: data, delete: true }">
    <mat-icon>delete</mat-icon>
  </button>
  </div>

